# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.ipch
Labs/Lab1/FirstFunction/.vs/FirstFunction/v16/ipch/AutoPCH/468b757f1a3c1b98/FIRSTFUNCTION.ipch
Labs/Lab1/FirstFunction/.vs/FirstFunction/v16/ipch/AutoPCH/56b1bb94d1cba20a/MY_CLIENT.ipch
*.ipch
